ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

a:hover:not(.site-logo),
a:focus,
a:active {
  color: #404bbf;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  box-sizing: border-box;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

button:hover,
button:focus,
button:active {
  background-color: #404bbf;
}

.section {
  padding: 120px 0;
}

.container {
  padding: 0 15px 0 15px;
  width: 1158px;
  margin: 0 auto;
}

/* ============ PAGE HEADER STYLES ============ */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.accent-logo-header {
  color: #2e2f42;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.menu-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-list {
  display: flex;
  gap: 40px;
}
/* ============ PAGE HEADER STYLES ============ */

/* ============ HERO SECTION STYLES ============ */

.hero-bg {
  background: #2e2f42;
  padding: 188px 0;
}

.site-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0, 0, 0, 0.15;
  margin: 48px auto 0;
  display: block;
  align-items: center;
  justify-content: center;
  border: none;
}
/* ============ HERO SECTION STYLES ============ */

/* ============ BENEFITS SECTION STYLES /* ============ */

.benefits-hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
  text-align: justify;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
/* ============ BENEFITS SECTION STYLES /* ============ */

/* ============ TEAM SECTION STYLES /* ============ */

.section-team {
  background-color: #f4f4fd;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-team-list {
  display: flex;
  gap: 24px;
}

.section-team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 1px 0;
}

.member-text-card {
  padding: 32px 0;
}

.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* ============ TEAM SECTION STYLES /* ============ */

/* ============ PORTFOLIO SECTION STYLES /* ============ */
.portfolio-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-section-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-section-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-bottom-box {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============ PORTFOLIO SECTION STYLES /* ============ */

/* ============ FOOTER STYLES /* ============ */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.site-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0px;
}

.accent-logo-footer {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/* ============ FOOTER  STYLES /* ============ */
